*.aux
*.log
*.out
*.synctex.gz
*.zip
vc.tex
bitbucketLogin.sh
hashpipe/docs/hashpipe.pdf
congress/docs/congress.pdf
connected-warmup/docs/connected-warmup.pdf
giantbook/docs/giantbook.pdf
gorillahash/docs/gorillahash.pdf
mario/docs/mario.pdf
mario/docs/report.pdf
randomqueue/docs/randomqueue.pdf
runsort/docs/runsort.pdf
foursum/docs/foursum.pdf
foursum/docs/report-foursum.pdf

randomqueue/docs/report.pdf
disjoint_sets_1/docs/disjoint_sets_1.pdf
disjoint_sets_2/docs/disjoint_sets_2.pdf
catenablequeue/docs/catenablequeue.pdf
heaps/docs/heaps.pdf
disjoint_sets_4/docs/disjoint_sets_4.pdf
asymptotic/docs/asymptotic.pdf
